---
import Brand from './Brand.astro';
---

<header class="fixed top-0 left-0 right-0 z-50 glass-effect">
    <div class="container border-b border-gray-200 dark:border-gray-800">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <Brand />
            </div>
        </div>
    </div>
</header>