---
import githubIcon from '../assets/github.svg';

const githubUrl = 'https://github.com/zhycn/pause-button';
---

<a
href={githubUrl}
target="_blank"
rel="noopener noreferrer"
aria-label="GitHub"
>
 <img src={githubIcon.src} alt="GitHub" class="w-6 h-6 transition-transform duration-200 group-hover:scale-110 group-hover:rotate-12" />
</a>